body {
	font-family: "Roboto", "Inter", sans-serif;
	font-size: 10px;
	}

main { display: flex; justify-content: center; align-items: center;background-color: rgb(239, 241, 244);}

.containers {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: 1fr;
	justify-content: center; align-items: center;
	/* grid-template-rows: 50% 500px; */
	gap: 5px;
	width: 70%;
	/* position: fixed; */
	/* left: 18%; */
	}

.inner1 {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 100px; */
	gap: 1px;
	
	}

.inner2 {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: 1.4fr 1fr;
	grid-template-rows: auto auto;
	gap: 1px;}

.list_of_options .item {
	/* border: 1px solid red; */
	margin: 0.1em;
	padding: 0.3em;
	/* border: 1px solid black; */
	width: 100px;
	height: 20px;
	border-radius: 50px;
	background-color: #8853DD;
	text-align: center;
	/* color: white; */
	align-content: center;
	text-decoration: none;
	/* justify-content: left; */
	/* text-align: left; */
	
	/* grid-area: 1 / 1 / 2 / 4; */
	}

.item:hover .nav-item {
	background-color: white;color: black;
	}

.item:hover {
	background-color: white;color: black;
	}

span {color: #FF4D4D;}

.text {background-color: #FFFFFF;
	border-radius: 10px;}

#hot-tickets .text {padding: 10px; margin-right: 20px;margin-bottom: 60px}

.it {
	/* border: 1px solid red; */
	margin: 0.5em;
	padding: 0.3em;
	border-radius: 10px;
	background-color: #FFFFFF;
	
	}

#manage.it div {font-size: 12px;color: rgb(146, 148, 152)}

#tickets.it div {font-size: 12px;color: rgb(146, 148, 152)}

.posts {;
	/* border: 1px solid red; */
	margin: 0.5em;
	padding: 2em;}

#top-10-airlines .item .text {display: grid;grid-template-columns: 100%;
	
	}

.tr1 {display: grid;grid-template-columns: 25px 250px 100px;margin: 10px; padding: 5px; font-size: 12px; color: #5AACF9}

.tr1 a {color: #5AACF9;font-size: 12px;}

/* #tickets{margin: 0.5em; */
/* padding: 2em; */
/* } */
.text1 {margin: 1em;
	padding: 0.5em;
	}

.text11 {margin: 1em;
	padding: 0.5em;
	text-align: end;
	}

/* div {border: 1px solid red;} */

tr, td {height: 25px; font-size: 13px;
	width: 250px; text-align: right;;}

#destinations {display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #FFFFFF;
	border-radius: 10px;
	margin-right: 10px;
	
	}

.container1 {display: grid; grid-template-columns: 1fr 1fr 0.4fr; align-content: flex-start }

.container1 div {margin: 1px; padding: 0.5em;}

.container2 div {margin: 1px; padding: 0.5em;}

.container2 {display: grid; grid-template-columns: 1fr 1fr 0.4fr;}

.container3 .text li { margin: 0; padding: 10px; font-size: 12px; }

.container3 .text ul {padding: 10px; }

.container3 .text ul li { list-style-type: none; }

.container3 .text a { color: #5AACF9}

/* #proposals1{display: grid;grid-template-columns: 1fr 0fr ; align-content: center; justify-content: center} */
/* 	grid-template-areas: */
/* 		    "textlap lap-top" */
/* 	". email" */
/* ; */
/* 	justify-content: center; */
/* 	align-items: center; */
/* 	gap: 15px; */
/* 	margin: 0.1em; */
/* 	padding: 2em; */
/* 	text-align: left;} */

#proposals1 .textlap {font-size: 14px;}

#proposals1.item1 {background-color: rgb(208, 209, 251); height: 200px;
	border-radius: 10px;}

.container4 {
	display: grid;
	grid-template-columns: 1.3fr 1fr; align-content: center; justify-content: stretch}

/* .email { */
/* 	grid-area: email; */
/* 	 */
/* 	padding: 20px; */
/* 	text-align: center; */
/* 	} */

.lap-top1 {
	
	padding: 20px;
	text-align: center;
	}

.manage_img {width: 100%; border: 0; height: 30px;margin-bottom: 0;
	background-color: rgb(255, 232, 237); border-radius: 10px; color: black; place-content: center start}

.manage_img a {color: rgb(247, 64, 104) }

.manage_img:hover {width: 45%;
	/* border: 1px solid red;  */
	height: 60px;
	background-color: #ef6363; }

.img {grid-area: 1/ 3 / 4 / 4;}

.bus {grid-area: 1/ 3 / 3 / 3;}

#proposals1 .email1 #email1 { height: 37px; padding: 0px;width: 250px; border: 1px solid red;;border-radius: 4px}

.passenger-button {
	color: darkgray;
	background-color: #FFFFFF;
	border: #FFFFFF;
	align-content: center;
	width: 100%;
	font-size: 16px;
	padding-top: 20px;
	}

button {height: 38px; padding: 0px;width: 45px;background: #FF4D4D;border: none;border-radius: 2px}

#proposals1 .email1 {margin-left: 20px; padding: 0px;margin-top: 10px; box-sizing: border-box}

.textlap1 {padding-left: 12px; padding-top: 35px;margin: 2px; font-size: 16px; text-align: center;}

.containers9 {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: 1fr;
	/* grid-template-rows: 50% 500px; */
	gap: 5px;
	width: 70%;
	margin: 0 auto;
	/* position: fixed; */
	/* left: 18%; */
	}

.top-images {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: repeat(4, 1fr);
	/* grid-auto-flow: row; */
	/* grid-template-rows: 100px; */
	gap: 20%;
	align-items: center;
	/* justify-items: start; */
	
	}

.top-images div { padding-top: 2%; text-align: end; }

.footer-content {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: repeat(6, 1fr);
	/* grid-auto-flow: row; */
	/* grid-template-rows: 100px; */
	gap: 1px;
	justify-content: left; align-items: start;
	}

.low-images {display: grid;
	box-sizing: border-box;
	/* border: 1px solid red; */
	grid-template-columns: repeat(2, 1fr);
	/* grid-auto-flow: row; */
	/* grid-template-rows: 100px; */
	margin-top: 20px;
	gap: 0px;
	justify-content: right; align-items: center;
	}

.first {display: grid;
	box-sizing: border-box;
	
	grid-template-columns: 12em 12em 12em;
	
	gap: 0px;
	justify-content: left; align-items: center;
	
	}

.second {display: grid;
	box-sizing: border-box;
	
	grid-template-columns: repeat(3, 3.5em);
	
	gap: 0px;
	justify-content: right; align-items: center;
	}

#facebook {margin: 0 auto}

#instagram {margin: 0 auto}

#telegram {margin: 0 auto}

#apple {margin-left: 10px;padding-top: 3px}

#google {margin-left: 15px;padding-top: 3px}

.footer-content h4 {margin-bottom: 5px; padding: 4px; font-size: 14px; text-align: start}

.footer-content ul li {margin: 0px; padding-bottom: 10px; list-style-type: none; }

.footer-content ul {margin: 0px; padding: 4px;}

.footer-content a {text-decoration: none; color: black;font-size: 13px; }

.menu {display: none;}

header {background-color: #7413DC;}

.header {
	/* border: 1px solid red;  */
	display: grid;
	box-sizing: border-box;
	margin: 0px auto;
	padding-bottom: 110px;
	/* border: 1px solid red; */
	grid-template-columns: 1fr;
	/* grid-template-rows: 50% 500px; */
	gap: 5px;
	width: 70%;
	background-color: #7413DC;
	/* position: fixed; */
	/* left: 18%; */}

.header .list_of_options {
	display: grid;
	grid-template-columns: repeat(5, 100px);
	width: 100%;
	gap: 20px;
	justify-content: flex-start;
	/* align-items: center; */
	/* align-content: center; */
	padding-bottom: 15px;
	
	}

.best-tickets h1 {font-size: 30px; text-align: left; margin: 10px 10px 28px 10px;color: #FFA9BC;letter-spacing: 2px}

.nav-item {
	color: white;
	text-decoration: none;
	/*text-decoration: none;*/
	/* padding: 8px 15px; */
	/* background-color: #8853DD; */
	/* border-radius: 15px; */
	}

/* .nav-item:hover {color: black; */
/* 	} */

/* .header .list_of_options a { */
/* 	color: #FFFFFF; */
/* 	} */

.header .find {
	background-color: #FF4D4D;
	border: solid 1px #FF4D4D;
	border-radius: 10px;
	font-size: 13px;
	color: #FFFFFF;
	width: 100%;
	
	}

.header .find:hover {
	background-color: #FF4D4D;
	/* border: #FFFFFF; */
	font-size: 13px;
	color: #FFFFFF;
	animation: scaleUp 1s ease;
	box-shadow: 10px 4px 10px 3px #888;}

.header .navmenu a {
	color: #FFFFFF
	}

.language {
	background-color: #7413DC;
	color: #FFFFFF;
	width: 80px;
	border: 2px solid #7413DC;
	}

/*.menu_block .links {*/
/*      align-content: stretch;*/
/*      width: 100%;*/
/*      box-sizing: border-box;*/
/*}*/
.menu_block h1 {
	width: 100%;
	color: hotpink;
	height: 30px;
	}

td {text-align: justify;
	margin: 5%;
	}

td, th {text-align: left;
	margin: 5%;
	}

.header #search-form .fieldset {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	position: relative;
	height: 60px;
	/* width: 99%; */
	gap: 1px;
	color: darkgray;
	background-color: #FFFFFF;
	border-radius: 10px 10px 10px 10px;
	
	}

.passenger-menu {border-radius: 10px 10px 10px 10px;}

fieldset {display: grid;grid-template-columns:5fr 1fr; border: 2px solid #7413DC; gap: 10px; }

.header .city-to-menu, .data-to-menu, .data-from-menu, .passenger-menu, .find {
	flex: 1 1 calc(33.333% - 20px);
	/* align-items: baseline; */
	align-content: stretch;
	/* height: 0%; */
	/* width: 20%; */
	background-color: white;
	border-left: 2px solid gainsboro;
	}

.d1 {
	position: absolute; left: 168px;top: 16px;
	width: 30px;
	height: 30px;
	background-color: white;
	/* opacity: 10%; */
	border: 2px solid #FF4D4D;
	/* z-index: 19; */
	border-radius: 50%;
	}

.imggg {position: absolute; left: 170px;top: 18px}

#data-to, #data-from {border: solid 1px #FFFFFF; outline: none;}
input[type='date']{
	/* background-color: #0080ff; */
	/* padding: 15px; */
	/* position: absolute; */
	/* transform: translate(-50%,-50%); */
	/* top: 50%; */
	/* left: 50%; */
	/* font-family: "Roboto Mono",monospace; */
	color: #ffffff;
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 5px;
	}


/* .header .city-from-menu  , .city-to-menu {justify-content: right;flex: 1 1 calc(33.333% - 20px); */
/* 	display: grid; */
/* 	grid-template-columns: repeat(1, 1fr); */
/* 	align-items: center; */
/* 	align-content: center; */
/* 	justify-items: start; */
/* 	justify-content: start; */
/* 	!* height: 0%; *! */
/* 	!* width: 20%; *! */
/* 	background-color: white; */
/* 	} */

label {font-size: 16px; padding-left: 60px;}

.header .city-from-menu:hover, .city-to-menu:hover, .data-to-menu:hover, .data-from-menu:hover, .passenger-menu:hover {
	
	/*flex: 1 1 calc(33.333% - 20px);*/
	/* height: 10%; */
	/* width: 20%; */
	/* background-color: darkgray; */
	/* animation: scaleUp 1s ease;; */
	/* background-color: #FF4D4D; */
	/* border: #FFFFFF; */
	
	/* font-size: 13px; */
	/* color: #FFFFFF; */
	/* animation: scaleUp 1s ease; */
	/* box-shadow: 10px 4px 10px 3px #888; */
	
	/* box-shadow: #FF4D4D 10px 10px 10px; */
	
	}

.header #cities, #cities_to {
	color: black;
	border: solid 1px white;
	font-weight: bold;
	text-align: center;
	outline: none;
	/* width: 100%; */
	}

/* .button { */
/* 	color: white; */
/* 	background-color: #FFFFFF; */
/* 	border: #FFFFFF; */
/* 	} */

.header ul li {
	display: inline-block;
	padding: 5px;
	/*margin: 5px;*/
	height: 10%;
	}

.header ul li:hover {
	background-color: #a182f6;
	}

.top-menu #navv {display: grid; grid-template-columns: 80% 4% 10%; }

.top-menu #navv a {color: #FFFFFF; text-decoration: none;}

.top-menu #navv ul {display: grid; grid-template-columns: 160px 80px 50px; gap: 0px; justify-content: end; align-content: end;}

.lang-img {display: inline-flex; justify-content: center; }

.text a {text-decoration: none;}

.star::before {content: url("star.svg"); color: red; padding: 10px;}

#proposals1 {position: relative;}

.exclamation {position: absolute; top: 130px; left: 220px; }

.arrow {position: absolute; top: 155px; left: 290px; }

p {color: #7A828B; text-align: justify}

.partners-programm {
	/*  */
	justify-self: center;
	gap: 10px;
	
	border: solid 1px #3A92F9;
	color: #3A92F9;
	height: 30px;
	align-content: center;
	padding-right: 2px;
	padding-left: 0px;
	border-radius: 3px;
	
	}

dialog {
	position: absolute;
	padding: 10px 0px 10px 10px;
	top: 150px;
	right: -430px;
	width: 230px;
	height: 298px;
	outline: none;
	border: solid 10px white;
	border-radius: 10px;
	box-shadow: 10px 10px 10px 3px #888;
	}

.quantity-limit {
	/* margin-top: 3px; */
	/* padding-top: 3px; */
	color: darkgray;
	margin-bottom: 20px;
	font-size: 11px;}

.pas-qty-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	grid-template-rows: 20px auto;
	padding-bottom: 20px;
	border-bottom: 1px solid gainsboro;
	}

.custom-radio {
	display: flex;
	position: relative;
	width: 60px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 22px 22px;;
	cursor: pointer;
	font-size: 12px;
	color: black;
	/* text-align: center; */
	align-items: center;
	justify-content: center;
	/* top: -10px; */
	/* padding: 15px; */
	}
input[type="radio"].anytype:checked + .custom-radio {
	background-color: #FF4D4D;
	border: solid 1px #FF4D4D;
	
	height: 30px;
	color: #FAFAFA;
	}
.class {margin: 20px 0px 10px 0px; }
input#adults, input#children, input#babies {outline: none;border: none; width: 34px}
.radio {
	display: grid;
	width: 200px;
	grid-template-columns: repeat(3, 33%);
	align-content: center;
	justify-items: flex-start;
	/* justify-content: stretch; */
	margin-bottom: 20px;}

.ok { width: 100%;
	background-color: #FF4D4D;
	border: solid 1px #FF4D4D;
	height: 30px;
	color: #FAFAFA;
	font-weight: 300;
	box-sizing: border-box;
	}

.choose-passenger {display: grid;
	}

/* td{width: 20px;} */
@media (min-width: 320px) and (max-width: 1000px) {
	
	.header #search-form .fieldset {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100px;
		position: relative;
		height: 100%;
		width: 100%;
		color: darkgray;
		background-color: #FFFFFF;
		/* border-radius: 5px; */
		margin-bottom: 20px;
		}
	
	fieldset {
		display: grid;
		grid-template-columns:1fr;
		gap: 20px; }
	
	.header .city-from-menu, .city-to-menu, .find {
		
		align-items: center;
		display: grid;
		/* align-content: start; */
		height: 100px;
		width: 90%;
		border-radius: 5px;
		background-color: white;
		/* justify-content: center; align-items: center;align-content: center; */
		/* justify-items: center; */
		/* border-left: 2px solid gainsboro; */
		}
	
	.data-to-menu, .data-from-menu {
		box-sizing: border-box;
		height: 95px;
		width: 100%;padding-top: 35px;
		}
	
	.city-from-menu {
		grid-column-start: 1;
		grid-column-end: 3;
		}
	
	dialog {
		position: absolute;
		outline: none;
		border: solid 1px white;
		background-color: darkgray;
		}
	
	/* .quantity-limit{ */
	/* 	margin-top: 20px; */
	/* 	padding: 200px} */
	.quantity-limit {
		/* margin-top: 3px; */
		/* padding-top: 3px; */
		color: darkgray;
		margin-bottom: 10px;
		font-size: 11px;}
	
	.pas-qty-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		
		}
	
	.choose-passenger {display: grid;
		}
	
	/* .passenger-menu{border: 10px solid red;} */
	.city-to-menu {grid-column-start: 1;
		grid-column-end: 3;}
	
	.passenger-menu {grid-column-start: 1;
		grid-column-end: 3;}
	
	.header .city-from-menu:hover, .city-to-menu:hover, .data-to-menu:hover, .data-from-menu:hover, .passenger-menu:hover {
		/* display: grid; */
		/* align-content: start; */
		
		/* height: 100px; */
		
		}
	
	.passenger-menu {
		align-items: start;
		display: grid;
		/* align-content: start; */
		height: 100px;
		width: 99%;
		border-radius: 5px;
		background-color: white;
		
		}
	
	.passenger-button {
		width: 90%;
		/* justify-content: start; */
		/* align-items: start; */
		align-content: start;
		text-align: start;
		background-color: white;
		border: #FAFAFA;
		color: darkgray;
		padding-left: 50px;
		
		padding-bottom: 80px;
		}
	
	label {
		font-size: 16px;
		padding-left: 50px;
		}
	
	.header .city-from-menu, .city-to-menu, .data-to-menu, .data-from-menu, .passenger-menu, .find {
		
		/* align-items: baseline; */
		/* display: grid; */
		/* align-content: stretch; */
		/* height: 100px; */
		/* width: 100%; */
		/* border: 1px solid black; */
		/* background-color: white; */
		border-bottom: 3px solid gainsboro;
		}
	
	.passenger-menu {border-bottom: #FFFFFF 1px solid; }
	
	.data-to-menu {border-right: 5px solid gainsboro; }
	
	.header .find {
		background-color: #FF4D4D;
		border: solid 1px #FF4D4D;
		border-radius: 10px;
		font-size: 20px;
		color: #FFFFFF;
		width: 100%;
		
		}
	
	.header .find:hover {
		/* background-color: #FF4D4D; */
		/* border: #FFFFFF; */
		font-size: 23px;
		/* color: #FFFFFF; */
		animation: scaleUp 1s ease;
		box-shadow: 10px 4px 10px 3px #888;}
	
	.header #cities, #cities_to {
		color: black;
		border: solid 10px white;
		font-weight: bold;
		text-align: start;
		padding-left: 50px;
		height: 30px;
		width: 20%;
		outline: none
		}
	
	/* .header #cities:focus-within, #cities_to:focus-within { */
	/* 	 */
	/* 	border: solid 10px yellow; */
	/* 	font-weight: bold; */
	/* 	text-align: start; */
	/* 	padding-left: 50px; */
	/* 	height: 30px; */
	/* 	width: 20%; */
	/* 	} */
	.d1 {
		position: absolute;
		left: 473px;top: 87px;
		width: 30px;
		height: 30px;
		background-color: white;
		/* opacity: 10%; */
		border: 2px solid #FF4D4D;
		/* z-index: 19; */
		border-radius: 50%;
		}
	
	.imggg {
		position: absolute;
		rotate: 90deg;
		left: 473px;top: 88px}
	
	#destinations {display: grid;
		grid-template-columns: 1fr;
		background-color: #FFFFFF;
		border-radius: 10px;
		}
	
	.text11 {margin: 1em;
		padding: 0.5em;
		text-align: start;
		}
	
	.partners-programm {
		grid-column-start: 1;
		grid-column-end: 3;
		justify-self: center;
		gap: 10px;
		margin: 10px;
		}
	
	.inner1 {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: 1fr;
		/* grid-template-rows: 100px; */
		gap: 10px;
		
		}
	
	.inner2 {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 10px;}
	
	.containers9 {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: 1fr;
		/* grid-template-rows: 50% 500px; */
		gap: 5px;
		width: 70%;
		margin: 0 auto;
		/* position: fixed; */
		/* left: 18%; */
		}
	
	.top-images {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: repeat(3, 1fr);
		/* grid-auto-flow: row; */
		/* grid-template-rows: 100px; */
		gap: 1px;
		justify-content: left; align-items: start;
		}
	
	.top-images div { padding-top: 2%; margin: 0px; }
	
	.footer-content {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: repeat(1, 1fr);
		/* grid-auto-flow: row; */
		/* grid-template-rows: 100px; */
		gap: 1px;
		justify-content: left; align-items: start;
		}
	
	.low-images {display: grid;
		box-sizing: border-box;
		/* border: 1px solid red; */
		grid-template-columns: repeat(1, 1fr);
		/* grid-auto-flow: row; */
		/* grid-template-rows: 100px; */
		margin-top: 20px;
		gap: 0px;
		justify-content: right; align-items: center;
		}
	
	.first {display: grid;
		box-sizing: border-box;
		
		grid-template-columns: 12em 12em;
		
		gap: 0px;
		justify-content: center; align-items: center;
		
		}
	
	.footer-content ul li {
		display: none; /* Прячем пункты выпадающего блока меню */
		/*position: absolute;*/
		background: #a182f6; /* Задаем фон выпадающего блока меню */
		}
	
	.second {display: grid;
		box-sizing: border-box;
		margin: 20px 20px 60px 20px;
		/* grid-template-columns: repeat(3, 3.5em); */
		
		gap: 0px;
		justify-content: center; align-items: center;
		}
	
	/* #facebook{margin: 0 auto} */
	/* #instagram{margin: 0 auto} */
	/* #telegram{margin: 0 auto} */
	/* #apple{margin-left: 10px;padding-top: 3px} */
	/* #google{margin-left: 15px;padding-top: 3px} */
	/* .footer-content h4{margin: 0px; padding: 4px;} */
	/* .footer-content ul li{margin: 0px; padding: 0px;} */
	
	}